{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js"></script>
{% endblock %}


{% block content %}
<div class="container">
<div class="row">



<div class="col-md-12">


    <h1>{{bioproject.name}}</h1>
    <p>
    {{bioproject.description}}
    </p>
    <table class="table">
    {% if bioproject.sample_scope %}
    <tr><td>Alcance</td><td>{{bioproject.sample_scope}}</td></tr>
    {% endif %}
    {% if bioproject.material %}
    <tr><td>Material</td><td>{{bioproject.material}}</td></tr>
    {% endif %}
    {% if bioproject.capture %}
    <tr><td>Captura</td><td>{{bioproject.capture}}</td></tr>
    {% endif %}
    {% if bioproject.target %}
    <tr><td>Objetivo</td><td>{{bioproject.target}}</td></tr>
    {% endif %}
    {% if bioproject.method %}
    <tr><td>Método</td><td>{{bioproject.method}}</td></tr>
    {% endif %}
    </table>






</div>


  </div>

  <div class="row">

  <style type="text/css">
          #mynetwork {
              /*width: 100%;*/
              height: 800px;
              border: 1px solid lightgray;
          }
      </style>

  <div class="col-md-8" id="mynetwork"></div>
  <div class="col-md-4">
  <table class="table table-responsive">
      <tr><td style="background-color: red">&nbsp;&nbsp;&nbsp;&nbsp;</td><td>Cromosoma/Contig</td></tr>
      <tr><td style="background-color: orange">&nbsp;&nbsp;&nbsp;&nbsp;</td><td>Proyecto</td></tr>
      <tr><td style="background-color: SlateBlue">&nbsp;&nbsp;&nbsp;&nbsp;</td><td>Publicación</td></tr>
      <tr><td style="background-color: green">&nbsp;&nbsp;&nbsp;&nbsp;</td><td>Organización</td></tr>
      <tr><td style="background-color: cyan">&nbsp;&nbsp;&nbsp;&nbsp;</td><td>Autor</td></tr>
  </table>
  <h6>Otras organizaciones (de la/s publicaciones) </h6>
  <ul>
  {% for org in graph.external_orgs %}
  <li> {{org.name}} ( {{org.country}} ) </li>
  {% endfor %}

  </ul>
  </div>

  </div>

  <script type="text/javascript">
      // create an array with nodes
      var nodes = new vis.DataSet([
          {% for x in graph.nodes %}
          {id: '{{x.id}}', label: '{{x.label}}',color:'{{x.color}}'},
          {% endfor%}
      ]);

      var edges = new vis.DataSet([
          {% for x in graph.edges %}
          {from: '{{x.from}}', to: '{{x.to}}',arrows:'to'},
          {% endfor %}
      ]);
      var container = document.getElementById('mynetwork');
      var data = {
          nodes: nodes,
          edges: edges
      };
      var options = {
          nodes: {
                shape: 'box'
              },
          layout: {  hierarchical: {   direction: "UD"  }    }
      };

      var network = new vis.Network(container, data, options);
  </script>



  </div>
{% endblock %}