{% extends "base.html" %}

{% load i18n %}

{% load static %}



{% block content %}
<div class="container">
<div class="row">



<div class="col-md-12">

    {{publication.date_of_publication}}

    <h1>{{publication.name}}</h1>
    <p>
    {% for auth in publication.author_names %}
    {{auth}} ,
    {% endfor %}
    </p>
    <ol>
     {% for org in publication.affiliation_names %}
       <li> {{ org }}</li>
     {% endfor %}
    </ol>
    </div>
  <div class="col-md-12">
    <p>
    {{publication.description}}
    </p>
</div>


  </div>
  <div class="col-md-12">
    {% if publication.issn %}
    DOI : <a href="https://doi.org/{{publication.doi}}">{{publication.doi}}</a> |
    {% endif %}
    EID: {{publication.electronic_id}} |
    {% if publication.issn %}
    ISSN : {{publication.issn}}|
    {% endif %}
    {% if publication.pubmed_id %}
    <a href="https://www.ncbi.nlm.nih.gov/pubmed/{{publication.pubmed_id}}">Pubmed</a>
      {% endif %}

    </div>


    <div class="row">
    <div class="col-md-12">
    <h3>{% trans 'Referenced resources' %}</h3>
    <table class="table table-bordered">
    {% for r in publication.targets.all %}
    <tr><td>{{r.type}}</td><td> <a href="{{r.get_absolute_url}}"> {{r.name}}</a></td></tr>
    {% endfor %}
    </table>
    </div></div>



</div>



{% endblock %}