{% extends "base.html" %}

{% load static %}
{% load bioresources_extras %}


{% block head %}



<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js"></script>


{% endblock %}



{% block content %}


   <h1>{{ object.accession }}</h1>
<table class="table  table-responsive">

<tr><td><b>Name</b></td><td>{{ object.name }}</td></tr>
<tr><td><b>Descripción</b></td><td>{{ object.description }}</td></tr>

<tr><td><b>Especie</b></td><td>{{ object.species_name }}</td></tr>
<tr><td><b>IntraEspecie</b></td><td>{{ object.intraspecific_name }}</td></tr>

<tr><td><b>Nivel</b></td><td>{{object.level}}</td></tr>


<tr><td><b>Tipo</b></td><td>{{ object.assembly_type }}</td></tr>
<tr><td><b>Taxon</b></td><td>{{ object.ncbi_tax.scientific_name }}</td></tr>

</table>






 <iframe  id="jbrowse"
 src="{% static 'jbrowse' %}/index.html?data=data/H37Rv&fullviewlink=false&menu=false&nav=true&tracklist=false&loc=NC_000962.3:0..999&"
 height="400px" width="100%"></iframe>


<h3>Secuencias</h3>
<table class="table table-responsive">
<tr><td>ID</td><td>Length</td>

{% with feature_types='CDS tRNA rRNA regulatory ncRNA' %}
{% for x in feature_types.split %}
<td>{{x}}</td>
{% endfor %}
{% endwith %}

</tr>

{% for c in contigs %}
<tr>
<td>{{c.accession}}</td>
<td>{{lengths|getattribute:c.accession}}</td>

{% with feature_types='CDS tRNA rRNA regulatory ncRNA' %}
{% for x in feature_types.split %}
<td>{{c.feature_counts|getattribute:x }}</td>
{% endfor %}
{% endwith %}
</tr>
{% endfor %}



</table>


<div class="row">

<style type="text/css">
        #mynetwork {
            /*width: 100%;*/
            height: 800px;
            border: 1px solid lightgray;
        }
    </style>

<div class="col-md-8" id="mynetwork"></div>
<div class="col-md-4">
<table class="table table-responsive">
    <tr><td style="background-color: red">&nbsp;&nbsp;&nbsp;&nbsp;</td><td>Cromosoma/Contig</td></tr>
    <tr><td style="background-color: orange">&nbsp;&nbsp;&nbsp;&nbsp;</td><td>Ensamblado</td></tr>
    <tr><td style="background-color: SlateBlue">&nbsp;&nbsp;&nbsp;&nbsp;</td><td>Publicación</td></tr>
    <tr><td style="background-color: green">&nbsp;&nbsp;&nbsp;&nbsp;</td><td>Organización</td></tr>
    <tr><td style="background-color: cyan">&nbsp;&nbsp;&nbsp;&nbsp;</td><td>Autor</td></tr>
</table>
<h6>Otras organizaciones (de la/s publicaciones) </h6>
<ul>
{% for org in graph.external_orgs %}
<li> {{org.name}} ( {{org.country}} ) </li>
{% endfor %}

</ul>
</div>

</div>

<script type="text/javascript">
    // create an array with nodes
    var nodes = new vis.DataSet([
        {% for x in graph.nodes %}
        {id: '{{x.id}}', label: '{{x.label}}',color:'{{x.color}}'},
        {% endfor%}
    ]);

    var edges = new vis.DataSet([
        {% for x in graph.edges %}
        {from: '{{x.from}}', to: '{{x.to}}',arrows:'to'},
        {% endfor %}
    ]);
    var container = document.getElementById('mynetwork');
    var data = {
        nodes: nodes,
        edges: edges
    };
    var options = {
        nodes: {
              shape: 'box'
            },
        layout: {  hierarchical: {   direction: "UD"  }    }
    };

    var network = new vis.Network(container, data, options);
</script>

{% endblock %}