{% extends "base.html" %}

{% load static %}


{% block head %}
<script type="application/javascript" src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script type="application/javascript" src="{% static 'ngl.js' %}"></script>

{% endblock %}


{% block content %}

<script>
    document.addEventListener("DOMContentLoaded", function () {


      var stage = new NGL.Stage("viewport",{ backgroundColor: "grey" } );
      stage.loadFile("http://localhost:8000/structure_raw/1234", { ext: "pdb"}). //defaultRepresentation: true
      then( function( component ){


          component.addRepresentation( "cartoon", {
                  aspectRatio: 3.0,
                  scale: 1.5,
                   sele: "backbone",color:"blue"
              } );


          component.addRepresentation( "label", {
                            labelType: "res"
                        } );

              const pepe = component.addRepresentation( "surface", {
                  sele: "STP AND .APOL",
                  multipleBond: false,
                  color:"white"

              } );

              $("#jojo").click(() => {
                  component.removeRepresentation(pepe);
              });

              component.addRepresentation( "surface", {
                                sele: "STP AND .POL",
                                multipleBond: false,
                                color:"black"

                            } );
              // component.addRepresentation( "spacefill", {
              //     sele: "water or ion",
              //     scale: 0.5
              // } );



          component.autoView();
      } );
    });
  </script>
  <div id="viewport" style="width:400px; height:300px;"></div>
<button id="jojo" >jeje</button>

{% endblock %}