{% extends "base.html" %}

{% load crispy_forms_tags %}


{% load static %}
{% load bioresources_extras %}

{% block content %}
<div class="row">
<div class="col-lg-9">

Escoja el recurso con el que quiere colaborar:

<table>
<tr><td>Herramienta</td><td>Material fisico del cual se extrajeron los datos</td></tr>
<tr><td>Estudio</td><td>Material fisico del cual se extrajeron los datos</td></tr>
<tr><td>Muestra/s</td><td>Material fisico del cual se extrajeron los datos</td></tr>
<tr><td>Lecturas/Experimento de secuenciacion</td><td>Material fisico del cual se extrajeron los datos</td></tr>
<tr><td>Genoma/s</td><td>Material fisico del cual se extrajeron los datos</td></tr>
<tr><td>Secuencia/s o Barcode/s</td><td>Material fisico del cual se extrajeron los datos</td></tr>
<tr><td>Estructura</td><td>Material fisico del cual se extrajeron los datos</td></tr>
<tr><td>Compuesto</td><td>Material fisico del cual se extrajeron los datos</td></tr>
</table>




</div>
</div>
{% endblock %}