{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load bioresources_extras %}

{% block head %}
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js"></script>

{% endblock %}

{% block content %}
<div class="container">
<div class="row">



<div class="col-md-12">

<h1 id="username">{{user.username}} </h1>

{% if person %}
    <h3>{{person.name}}, {{person.surname}} </h3>
{% else %}
    <p>{% trans 'No person was claimed, select one:' %} <a href="{% url 'bioresources:search_view' %}?type=20">{% trans 'Person list' %}</a>  </p>
{% endif %}
<table class="table">
{% for collab in collaborations %}
<tr><td>{{collab.type}}</td>
    <td><a href="{{collab.resource.get_absolute_url}}">{{collab.resource.name}}</a></td>
    <td>{% trans collab.resource.tname %}</td></tr>


{% endfor %}
</table>

{% if graph %}
{% resource_graph person.id graph %}
{% endif %}
  </div>





<script type="text/javascript">
  $(document).ready(()=>{

      create_graph()

  })
</script>


  </div>
{% endblock %}